//*****************************************************************************
//    Proyecto: drpl
//    Titulo: _colors.scss
//    Desripcion: Variables para colores genéricos
//******************************************************************************/
$red: #DB1F16;
$white: #FFFFFF;
$blue: #285dab;
$blue_2: #0d53ac;
$grey: #666666;
$black: #000000;
$light_grey: #f2f2f2;
$light_grey_2: #d3d3d3;
$light_green: #b2e0bc;

/*TEXTOS*/

//$TXT-color-1: #505050;		//Gris oscuro

/*BORDES*/

//$BR-color-1: #9aae04;		//Verde corporativo

/*BACKGROUNDS*/

//$BG-color-1: #FFFFFF;		//Blanco
$BG-color-1:#F9F7F4;
$BG-color-2:#1F1F26;