//*****************************************************************************
//    Proyecto: drpl
//    Titulo: _mod_paragraphs-item-button
//    Desripcion: 
//    Fecha: 27/10/2016
//******************************************************************************/
.paragraphs-item-button {
  margin: 3rem 0;
  a {
    display: inline-block;
    width: 100%;
    padding: 2rem;
    text-align: center;
  }
}