.paragraphs-item-link-list {
  &.link-style-simple_links_background_color {
    padding: 10px;
    ul {
      padding: 0;
      li {
        list-style: none;
        margin: 10px 0 0;
        box-shadow: 0px 1px 0px $grey;
        a {
          display: block;
          width: 100%;
          padding: 25px 20px;
          color: white;
          font-family: "Montserrat-bold";
          font-size: 18px;
          background: inherit;
          background: -webkit-linear-gradient(transparent 10%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.35));
          background: -o-linear-gradient(transparent 10%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.35));
          background: -moz-linear-gradient(transparent 10%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.35));
          background: linear-gradient(transparent 10%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.35));
          box-shadow: 1px 2px 2px $grey;
          &:hover {
            text-decoration: none;
            background: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
            background: -o-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
            background: -moz-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
            background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
          }
        }
      }
    }
  }
  &.link-style-simple_links_tags {
    padding: 20px;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 0;
    }
    li {
      list-style: none;
    }
    .field-type-link-field {
      & > .field-items {
        display: flex;
        flex-direction: row;
        & > .field-item {
          //        width: 20%;
          padding: 0 20px;
          display: inline-block;
          a {
            display: block;
            padding: 20px 25px;
            background-color: $white;
            border-radius: 20px;
            color: $blue_2;
            width: 100%;
            text-align: center;
            font-size: 16px;
            font-family: "Montserrat-bold";
            &:hover {
              text-decoration: none;
              color: $white;
              background: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
              background: -o-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
              background: -moz-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
              background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
            }
          }
        }
      }
    }
  }
  &.link-style-simple_links_square_border {
    background-color: $light_grey_2;
    margin-top: 30px;
    padding-bottom: 40px;
    .field-name-field-title {
      background: #4fd3be;
      top: 0 !important;
      box-shadow: 0 2px 0 $black;
      .field-item {
        padding: 10px 0;
        color: $white;
        background: -webkit-linear-gradient(transparent 10%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.35));
        background: -o-linear-gradient(transparent 10%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.35));
        background: -moz-linear-gradient(transparent 10%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.35));
        background: linear-gradient(transparent 10%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.35));
      }
    }
    ul {
      & > li {
        list-style: none;
        position: relative;
        padding: 20px 0 0 20px;
        &:before {
          position: absolute;
          left: 0;
          top: 24px;
          content: "";
          width: 10px;
          height: 10px;
          background: #4fd3be;
        }
        a {
          display: block;
          padding: 0 10px 10px 5px;
          color: $grey;
          border-bottom: 1px solid $grey;
          font-family: "Montserrat";
          &:hover {
            font-family: "Montserrat-bold";
            color: #31bea7;
            text-decoration: none;
          }
        }
      }
    }
  }
  &.link-style-simple_links_bullet {
    margin-top: 30px;
    padding-bottom: 40px;
    ul {
      & > li {
        list-style: none;
        position: relative;
        padding: 20px 0 0 20px;
        &:before {
          position: absolute;
          left: 0;
          top: 28px;
          content: "";
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background: $white;
        }
        a {
          display: block;
          padding: 0 10px 10px 5px;
          color: $white;
          font-size: 18px;
          //          border-bottom: 1px solid $grey;
          font-family: "Montserrat";
          &:hover {
            font-family: "Montserrat-bold";
            //            color: #31bea7;
            text-decoration: none;
          }
        }
      }
    }
  }
  .field-name-field-title {
    top: 0 !important;
  }
}